.main-vins{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main-vins .all-vin-title{
  margin: 2rem 0;
  font-size: 1.5rem;
  font-weight: regular;
  text-transform: uppercase;
  text-decoration: underline;
}
.all-vin-main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}