.text-content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  /* line-height: 16px; /* fallback */
  max-height: 5rem;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.text-content-accord {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  /* line-height: 16px; /* fallback */
  /* max-height: 4rem; */
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  /* line-height: 16px; /* fallback */
  max-height: 5rem;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.MuiCardContent-root.css-46bh2p-MuiCardContent-root {
  min-height: 10rem !important;
  max-height: 10rem !important;
}

@media screen and (max-width: 650px) {
  .css-10mzr36-MuiGrid-root {
    width: 100 !important;
    margin-left: 0 !important;
  }
}

@media (min-width: 0px) {
  .css-10mzr36-MuiGrid-root {
    width: 100% !important;
    margin-left: 0 !important;
  }
  .css-10mzr36-MuiGrid-root > .MuiGrid-item {
    padding-left: 0 !important;
  }
  .css-vo4od0-MuiPaper-root-MuiCard-root,
  .css-15oqozr {
    max-width: 100% !important;
    max-height: 100% !important;
    min-height: 100%;
  }
  /* .blog-media-card {
    height: fit-content !important;
  } */
  .css-t1nuxs {
    margin: 0px 0px 0.35em;
    font-weight: 600;
    font-size: 0.9rem;
    line-height: 1.334;
    letter-spacing: 0em;
  }
}
