.forgot-password-main,
.reset-password-main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  margin: 1rem auto;
}

.load-btn {
  background-color: #de0941 !important;
}

.logo-winepal {
  width: 200px;
  margin: 1rem auto;
}

@media screen and (max-width: 850px) {
  .forgot-password-main,
  .reset-password-main {
    width: 90%;
  }
}
