.main-plat-accord {
  display: flex;
  justify-content: center;
  align-items: start;
}

.filter-price {
  width: 100%;
}

.main-plat-accord .left-plat {
  flex: 6;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("assets/images/pal_image.jpeg");
  background-size: cover;
  display: flex;
  background-position-y: 125vh;
}

.main-plat-accord .left-plat .left-plat-content {
  width: 40rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: calc(100vh - 4rem); */
}

.main-plat-accord .left-plat .left-plat-content .form-input-pal {
  transition: all ease 0.5s;
  display: flex;
  /* flex-wrap: wrap; */
  width: 100%;
}

.main-plat-accord .left-plat .left-plat-content .form-input-pal .left-form {
  width: 50%;
  display: flex;
  transition: 0.3s ease all;
  flex-direction: column;
}

.main-plat-accord .left-plat .left-plat-content .form-input-pal .right-form {
  width: 50%;
  transition: 0.3s ease all;
  display: flex;
  flex-direction: column;
}

.main-plat-accord
  .left-plat
  .left-plat-content
  .form-input-pal
  .full-left-form {
  transition: 0.3s ease all;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-plat-accord .left-plat .left-plat-content .input-icon {
  position: relative;
  width: 100%;
  display: flex;
}
.main-plat-accord .left-plat .left-plat-content .input-icon.flex {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.select-input {
  color: #757575;
}

.main-plat-accord .left-plat .left-plat-content .input-icon .input-file {
  width: 100%;
  background: white;
  width: 100%;
  margin: 1.5rem;
  border-radius: 1rem;
  border: 2px solid #b1b1b173;
  font-size: 1.2rem;
}

#region-du-vin {
  width: 100%;
  border-radius: 1rem;
  border: 2px solid #b1b1b173;
  font-size: 0.9rem !important;
}

.main-plat-accord .left-plat .left-plat-content .input-icon .input-hidden {
  display: none;
}

.main-plat-accord .left-plat .left-plat-content .svg-icon-1 {
  position: absolute;
  top: 1.6rem;
  right: 1.7rem;
}

.main-plat-accord .left-plat .left-plat-content .svg-icon-info {
  position: absolute;
  top: 1.9rem;
  right: 4rem;
  cursor: pointer;
}

.main-plat-accord .left-plat .left-plat-content .svg-icon-1.image-input {
  position: absolute;
  top: 2.2rem;
  right: 2.2rem;
  width: 10rem;
  border-radius: 0.5rem;
  background: #de0941;
}

.main-plat-accord .left-plat .left-plat-content .svg-icon-2 {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  cursor: pointer;
}

.main-plat-accord .left-plat .left-plat-content .svg-icon-3 {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  cursor: pointer;
}

.main-plat-accord .left-plat .left-plat-content h1 {
  font-size: 3rem;
  color: whitesmoke;
  text-align: center;
}

.main-plat-accord .left-plat .left-plat-content h1 span {
  color: #de0941;
}

.main-plat-accord .left-plat .left-plat-content .input-icon input {
  width: 100%;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  border: 2px solid #b1b1b173;
  font-size: 1.2rem;
  color: #757575;
}
.main-plat-accord .left-plat .left-plat-content .input-icon.advanced input {
  width: auto;
}
.main-plat-accord .left-plat .left-plat-content .input-icon input::placeholder {
  font-size: 0.9rem !important;
}

.main-plat-accord .left-plat .left-plat-content .input-icon .select {
  width: 100%;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  border: 2px solid #b1b1b173;
  font-size: 0.9rem !important;
  color: #757575;
}

.main-plat-accord .left-plat .left-plat-content .input-icon input::placeholder {
  font-size: 0.9rem !important;
  width: 90%;
}

.main-plat-accord .right {
  display: flex;
  flex-direction: column;
  flex: 4;
  max-width: 40%;
}

.main-plat-accord .right .right-content {
  padding: 1rem;
}

.main-plat-accord .right .right-btn {
  color: #de0941;
  border: 2px solid #de0941;
  font-weight: 550;
  border-radius: 3rem;
}

.main-plat-accord .right .save-btn {
  color: white;
  background: #de0941;
  font-weight: 550;
  border-radius: 3rem;
  margin-top: 1rem;
}

.main-plat-accord .left-plat .left-plat-content .login-btn {
  display: flex;
  /* overflow: hidden; */
}

.login-btn .register-btn {
  padding: 1rem 5rem;
  border-radius: 3rem;
  font-weight: bolder !important;
  border: 2px solid #de0941 !important;
  color: #de0941;
  margin: 1rem;
}

.login-btn .connexion-btn {
  padding: 1rem 5rem;
  border-radius: 3rem;
  font-weight: bolder !important;
  border: 2px solid #de0941 !important;
  background: #de0941;
  margin: 1rem;
}

.login-btn .connexion-btn:hover {
  background: #b90837;
}

.main-plat-accord .right .right-content .vins-response {
  padding: 1rem;
  margin-top: 0.5rem;
  border: 2px solid #b1b1b173;
  border-radius: 1rem;
}

.main-plat-accord .right .right-content .vins-response h3 {
  display: flex;
  align-items: center;
  color: #de0941;
}

.main-plat-accord .right .right-content .vins-response h3 svg {
  margin-left: -0.5rem;
  margin-right: 0.5rem;
}

.main-plat-accord .right .right-content .vins-response hr {
  border: 1px solid #b1b1b13a;
}

.main-plat-accord .right .right-content .vins-response .ia-response-plat {
  height: 60vh;
  overflow-y: scroll;
}

.ia-response-plat .bodyResponse {
  background: #de0941;
  padding: 1rem;
  color: whitesmoke;
  border-radius: 0.5rem;
  transition: 0.5s ease all;
  font-weight: regular;
  margin-top: 0;
  hyphenate-character: auto;
  hyphens: auto;
  hyphenate-limit-chars: auto;
  max-width: 95%;
}

.body-accord {
  margin: 1rem 0;
}

.advanced-search.accord {
  flex-direction: column-reverse;
}

.ia-response-plat .text-default {
  padding: 1rem;
  color: rgba(128, 128, 128, 0.541);
}

.ia-response-plat .head {
  display: flex;
  flex-wrap: wrap;
}

.ia-response-plat .head .title {
  margin-right: 0.5rem;
  word-break: break-all;
}

.ia-response-plat .head p {
  padding: 0.5rem;
  border: 2px solid #de0941;
  border-radius: 3rem;
  color: #de0941;
  font-weight: bold;
}

.input-file.labelPhoto {
  padding: 0.2rem !important;
  padding-left: 1rem !important;
}

.input-file.labelPhoto p {
  word-break: break-all !important;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 1.5rem;
  width: 50%;
}

.loadGenerateButton.css-1vqlznj-MuiButtonBase-root-MuiButton-root-MuiLoadingButton-root {
  font-size: 0.875rem !important;
  line-height: 1.75 !important;
  letter-spacing: 0.02857em !important;
  text-transform: uppercase !important;
  min-width: 64px !important;
  padding: 13px 53px !important;
}

.advanced-search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.advanced-search p {
  color: #f1f1f1;
  font-weight: 600;
}

.advanced-search .switch {
  margin-left: 1.5rem;
}

.info-card-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.62);
  top: 0;
}
@media screen and (max-width: 1110px) {
  .main-plat-accord {
    width: 100%;
    flex-direction: column;
  }
  .main-plat-accord .left-plat {
    width: 100%;
  }
  .main-plat-accord .left-plat-content {
    align-items: center;
    justify-content: center;
  }

  .main-plat-accord .right {
    width: 100% !important;
    max-width: 100% !important;
  }
}

@media screen and (max-width: 1027px) {
  .main-plat-accord {
    width: 100%;
    flex-direction: column;
  }

  .main-plat-accord .left-plat {
    width: 100%;
  }

  .main-plat-accord .left-plat .left-plat-content {
    width: 90%;
  }

  .main-plat-accord .left-plat .left-plat-content .login-btn {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: auto;
  }
}

@media screen and (max-width: 650px) {
  .main-plat-accord {
    width: 100%;
    flex-direction: column;
  }

  .main-plat-accord .left-plat {
    width: 100%;
  }

  .main-plat-accord .left-plat .left-plat-content {
    width: 90%;
  }

  .main-plat-accord .left-plat .left-plat-content .login-btn {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: auto;
  }
  .main-plat-accord .left-plat .left-plat-content .input-icon input {
    border-radius: 1rem;
    border: 2px solid #b1b1b173;
    font-size: 1.2rem;
    color: #757575;
    /* width: auto; */
  }
  .main-plat-accord .left-plat .left-plat-content .input-icon select {
    border-radius: 1rem;
    border: 2px solid #b1b1b173;
    font-size: 1.2rem;
    color: #757575;
    /* width: auto; */
  }
}

@media screen and (max-width: 510px) {
  .main-plat-accord .left-plat .left-plat-content .login-btn {
    flex-direction: column-reverse;
  }

  .main-plat-accord .left-plat .left-plat-content .login-btn button {
    width: 100%;
  }

  .main-plat-accord .left-plat .left-plat-content {
    height: 100%;
  }

  .main-plat-accord .left-plat {
    background-position-y: 0;
  }

  .main-plat-accord .left-plat .left-plat-content .svg-icon-1.image-input {
    width: 5rem;
  }

  .main-plat-accord .left-plat .left-plat-content .form-input-pal {
    display: block;
  }

  .main-plat-accord .left-plat .left-plat-content .form-input-pal .left-form,
  .main-plat-accord .left-plat .left-plat-content .form-input-pal .right-form {
    width: 100%;
  }
}

@media screen and (min-height: 850px) {
  .main-plat-accord .left-plat .left-plat-content {
    height: calc(100vh - 4rem) !important;
  }
}
@media screen and (min-height: 566px) {
  .main-plat-accord .left-plat .left-plat-content {
    height: auto;
  }
}
