.custom-height {
  height: 15rem;
}
.list {
  flex-direction: column;
  max-height: 15rem;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid rgba(128, 128, 128, 0.184);
  border-radius: 0.5rem;
}

.list-item {
  flex-direction: column;
  margin-left: 3rem;
}
.dep-title {
  font-weight: bold;
}

.partenaire-container {
  width: 100% !important;
}
.list-between {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.trash {
  transition: all ease-in-out 0.4s;
}
.trash:hover {
  color: red;
}

@media (min-width: 1200px) {
  .partenaire-container {
    max-width: 100% !important;
  }
}
